.profilecard {
  margin: 6rem;
  border: solid;
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.image {
  border-radius: 50px;
  align-item: center;
}
.edit {
  align-self: flex-end;
  margin: 1rem;
}
